<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
  <dict>
    <key>Begin</key>
    <array>
      <string>欢迎来到教学关！</string>
      <string>欢迎来到教学关！</string>
      <string>因为很重要所以说两遍！</string>
      <string>这(大概)是一个奇幻风格的游戏</string>
      <string>那么就直接开始boss关吧(喂!)</string>
    </array>
    <key>HDU_Tech</key>
    <array>
      <string>咳咳</string>
      <string>（拿错台词了）</string>
      <string>现在应该是介绍游戏界面</string>
      <string>本游戏界面非常简单</string>
      <string>左上角是时间</string>
      <string>右上角是电量</string>
      <string>时间下边是才你的血量和分数</string>
      <string>电量下边那个是暂停键</string>
      <string>不幸的是，教学关没有那个按钮</string>
      <string>所以你不能退出教学关</string>
      <string>（相信我，这不是个bug）</string>
      <string>这是强制学习</string>
      <string>中心九个黑格子是魔法水晶</string>
      <string>为啥这么难看？</string>
      <string>这是黑水晶嘛</string>
      <string>好好注意魔法水晶</string>
      <string>这是你施展法印的关键</string>
      <string>（其实就和手机解锁一样）</string>
      <string>加油度过教学关吧</string>
    </array>
    <key>Sheep_Jump</key>
    <array>
      <string>下面真正开始了</string>
      <string>我们可以看到你有一个血量属性</string>
      <string>但是</string>
      <string>这个血量其实是羊圈栅栏的血量</string>
      <string>是的</string>
      <string>不是你的血量</string>
      <string>因为是教学关</string>
      <string>所以羊圈经过了加固</string>
      <string>有999点血</string>
      <string>（应该没人会用完吧..）</string>
      <string>而你</string>
      <string>其实是一个伟大的魔法师</string>
      <string>今天你要帮助牧羊人赶羊回圈</string>
      <string>不过羊不会自己跳过围栏</string>
      <string>你必须画出羊身上的法印</string>
      <string>才能让它起跳</string>
      <string>是的</string>
      <string>你伟大的魔法就是让羊起跳</string>
      <string>诶诶先别打我啊</string>
      <string>后边还有别的魔法</string>
      <string>不过已经有羊飞奔过来啦</string>
      <string>快让他跳过围栏回到羊圈</string>
    </array>
    <key>Wolf_Turn</key>
    <array>
      <string>干得好</string>
      <string>或许你已经发现了</string>
      <string>羊回到羊圈之后你会获得分数</string>
      <string>但是羊撞死在围栏上围栏会掉血</string>
      <string>血掉光当然就GameOver了</string>
      <string>分数越高当然越好</string>
      <string>但是也会有其他玩法</string>
      <string>比如你的分数可以是负数</string>
      <string>你问为啥？</string>
      <string>因为有狼啊</string>
      <string>狼会吃掉你的羊</string>
      <string>狼进入羊圈你会损失很多分数</string>
      <string>所以狼出现之后</string>
      <string>使用你的变羊术把它变成羊</string>
      <string>（变羊术..希望不会有版权问题）</string>
      <string>总之尽量不要让狼跳进羊圈</string>
      <string>所以你也可以撞死他</string>
      <string>这样就不会扣分</string>
      <string>但是你会掉血</string>
      <string>明白了吧</string>
      <string>什么你忘记了变羊术</string>
      <string>好吧</string>
      <string>变羊术就是一个圆形法印</string>
      <string>九宫格是画不出圆的</string>
      <string>于是变通一下</string>
      <string>画出九宫格里最大的方形吧</string>
      <string>快准备好！狼来了啊</string>
    </array>
    <key>Wolf_Kill</key>
    <array>
      <string>干得好</string>
      <string>你可能发现了</string>
      <string>狼身上也有法印</string>
      <string>如果你错误输入了狼的法印</string>
      <string>他就会跳过围栏吃掉你的羊</string>
      <string>所以尽量变化所有狼</string>
      <string>但是变羊术画起来很别扭啊</string>
      <string>而且你根本不稀罕那一分对不对</string>
      <string>于是就有了杀死狼的魔法</string>
      <string>名为十万伏特</string>
      <string>我可以保证</string>
      <string>这个法术和皮卡X没有任何关系</string>
      <string>这个法术还有智能施法</string>
      <string>后头再说吧</string>
      <string>又来了一只狼</string>
      <string>用你的十万伏特杀死他</string>
      <string>十万伏特法印就是闪电的形状</string>
      <string>再提示一下</string>
      <string>会画过五个水晶</string>
      <string>那么开始吧</string>
    </array>
    <key>Monster_Kill</key>
    <array>
      <string>干得好</string>
      <string>这是个强大的法术</string>
      <string>但是我们特效有限</string>
      <string>请自己脑补一下光影特效吧</string>
      <string>强大的法术一般都伴随着副作用</string>
      <string>他会随机封印你的一个魔法水晶</string>
      <string>时间（大概）是3秒吧</string>
      <string>所以使用十万伏特之后</string>
      <string>可能限制其他操作</string>
      <string>还是有点看人品的</string>
      <string>不过都说随机性高重复可玩性也高</string>
      <string>比如那些roguelike游戏</string>
      <string>所以玩家老爷就将就一下吧</string>
      <string>回到正题</string>
      <string>十万伏特可以杀死所有有害生物</string>
      <string>说起有害生物</string>
      <string>这可是一个剑与魔法的世界啊</string>
      <string>所以当然少不了兽人了</string>
      <string>兽人有强大的力量</string>
      <string>你不能把他变成羊</string>
      <string>而且他可以一下撞碎你的围栏</string>
      <string>就是一下让你GameOver</string>
      <string> ∑(っ °Д °;)っ</string>
      <string>所以兽人出现之后</string>
      <string>应该立即杀死他</string>
      <string>还是使用十万伏特</string>
      <string>（这法术真好用）</string>
      <string>你可能有点疑问</string>
      <string>万一狼和兽人都出现在地图上呢</string>
      <string>不要怕</string>
      <string>有智能施法啊</string>
      <string>十万伏特一定会先攻击兽人</string>
      <string>因为它威胁更大</string>
      <string>不过兽人的行动缓慢</string>
      <string>只要冷静处理就不容易GameOver</string>
      <string>那么我就召唤一只兽人给你练下</string>
      <string>不要问我为什么会召唤兽人！</string>
    </array>
    <key>Bird_Catch</key>
    <array>
      <string>干得好</string>
      <string>用法和杀狼是一样的</string>
      <string>你应该已经熟练掌握了</string>
      <string>那我们就进入下一阶段</string>
      <string>刚才都是陆地生物</string>
      <string>再来个飞行单位吧</string>
      <string>飞行单位的存在感比较低</string>
      <string>但是可以帮大忙</string>
      <string>因为他们有强大的爪（zhao）</string>
      <string>使用法印控制飞鸟抓走陆地生物</string>
      <string>可以化解难题</string>
      <string>比如兽人或狼出现飞鸟刚好经过</string>
      <string>就可以让飞鸟抓走兽人或狼</string>
      <string>这样就能节省十万伏特啦</string>
      <string>你问飞鸟抓走他们干啥</string>
      <string>当然是干一些羞羞的事情啦</string>
      <string>不过这和本游戏主题无关</string>
      <string>我们就不深入讨论了</string>
      <string>当然如果地面上没有有害生物</string>
      <string>鸟也会抓走羊</string>
      <string>所以不要滥用这个法术啊</string>
      <string>这个法术没有副作用</string>
      <string>所以为了平衡</string>
      <string>我们决定让他很难画</string>
      <string>你要画满全部九个格子</string>
      <string>格子的顺序无所谓了</string>
      <string>顺带一提</string>
      <string>所有法印操作都与格子顺序无关</string>
      <string>（真的不是程序员技术有限）</string>
      <string>是为了造福广大玩家啊</string>
      <string>那么现在有一只羊和一只鸟</string>
      <string>使用控制法印</string>
      <string>让鸟抓走羊吧</string>
    </array>
    <key>Wind</key>
    <array>
      <string>干得好</string>
      <string>不过正常游戏里不要用鸟抓羊</string>
      <string>太浪费了</string>
      <string>透露一下</string>
      <string>鸟的刷新机率大概是30%</string>
      <string>不过算法当然没有这么简单</string>
      <string>不过我看不懂</string>
      <string>所以大概是30%</string>
      <string>用鸟抓走有威胁的生物才是正解</string>
      <string>嗯...（看台词中）</string>
      <string>那么我们终于要到最后的法印了</string>
      <string>什么你嫌生物和法印少？</string>
      <string>可是我们作业多啊</string>
      <string>所以少玩游戏多读书</string>
      <string>玩完教学关就赶快写作业去</string>
      <string>咳咳</string>
      <string>回到正题</string>
      <string>因为我们(胡乱)使用了物理引擎</string>
      <string>所以如果你的羊起跳过早</string>
      <string>它还可能落在围栏上撞死</string>
      <string>在前边你可能已经有所体会</string>
      <string>为了应对这点</string>
      <string>我们有一个新法印</string>
      <string>↑上升气流↑</string>
      <string>（听名字好像是很邪恶的法术啊）</string>
      <string>不过很有用</string>
      <string>只要画最下边一排那三个就行</string>
      <string>会给生物一个持续上升力</string>
      <string>关键时候可以补救要撞死的羊哦</string>
      <string>当然</string>
      <string>如此好用的法术也有副作用</string>
      <string>会封印一颗水晶3秒</string>
      <string>而且只对起跳之后的生物有效</string>
      <string>总之好好利用吧</string>
    </array>
    <key>Final</key>
    <array>
      <string>干得好</string>
      <string>或许你已经注意到了</string>
      <string>所有法印都可以提前画好不松开</string>
      <string>等到时机成熟时再松手</string>
      <string>这样就能很灵活地控制释放时机</string>
      <string>是提高准确性的一大诀窍</string>
      <string>那么</string>
      <string>念了这么多台词</string>
      <string>教学关也终于到了尾声</string>
      <string>不过教学关只是练习</string>
      <string>真正的游戏生物刷新很快</string>
      <string>玩起来可没有这么简单呐</string>
      <string>好好磨炼技术吧</string>
      <string>什么？</string>
      <string>你问我是谁？</string>
      <string>哈哈哈哈哈哈</string>
      <string>等你打翻了这个游戏</string>
      <string>一切真相都会大白</string>
      <string>我们到时候再见吧</string>
      <string>即将返回主菜单</string>
    </array>

    <key>Tech_Begin</key>
    <string>教学关</string>
    <key>Sheep_Jump_In</key>
    <string>跳过栅栏不是撞上栅栏..</string>
    <key>Wolf_Turn_In</key>
     <string>使用变羊术并控制羊跳过栅栏</string>
    <key>Wolf_Kill_In</key>
    <string>释放十万伏特！</string>
    <key>Monster_Kill_In</key>
    <string>你应该释放十万伏特杀死他，不过算了</string>
    <key>Bird_Catch_In</key>
    <string>别发呆，释放法印</string>

    <key>SheepLayer_Begin</key>
    <string>羊群还有3秒到达战场</string>
    <key>SheepLayer_GameOver</key>
    <string>羊圈爆炸了</string>
     <key>SheepLayer_Wave</key>
    <string>羊群加速啦~</string>
    <key>SheepLayer_GameOver_Under</key>
    <string>活下来的羊儿：</string>
  </dict>
</plist>
